<h2> Edit Assurance </h2>

<form method="post" action="/assurances/<%=@assurance.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h4> Name: <input type="text" name="owner" value="<%= @assurance.owner %>"></h4>
  <h4> Phone: <input type="integer" name="phone" value="<%= @assurance.phone %>"></h4>
  <h4> Model:  <input type="text" name="model" value="<%= @assurance.model %>"></h4>
  <h4> Immatriculation: <input type="text" name="immatriculation" value="<%= @assurance.immatriculation %>"></h4>
  <h4> Color: <input type="text" name="color" value="<%= @assurance.color %>"></h4>
  <input type="submit" value="submit">
</form>