
<p><%= @assurance.owner %> <p>
<p><%= @assurance.phone %> <p>
<p><%= @assurance.model %> <p>
<p><%= @assurance.immatriculation %> <p>
<p><%= @assurance.color %> <p>

<form method="post" action="/assurances/<%=@assurance.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Assurance">
</form>

<a href="/assurences/<%=@assurance.id%>/edit">Edit Assurance </a>


<a href="/assurances/<%= @assurance.id %>/edit"><i class="fa fa-pencil"></i> Edit Assurance </a>
<a href="/assurances/<%= @assurance.id %>/delete"><i class="fa fa-times"></i> Delete Assurance</a>
<a href="/assurances/new"><button type="button" class="btn btn-default">Create A New Assurance</button></a>
