<div class="container">
<h4>Nane: <%= @assurance.owner %> </h4>
<h4>Phone: <%= @assurance.phone %> </h4>
<h4>Model: <%= @assurance.model %> </h4>
<h4>Immatriculation<%= @assurance.immatriculation %> </h4>
<h4>Color<%= @assurance.color %> </h4>

<form method="post" action="/assurances/<%=@assurance.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Assurance">
</form>
</div>
<br><br>
<div class="container"> 
  <h4> You can </h4> 
    <a href="/assurances/<%= @assurance.id %>/edit"><i class="fa fa-pencil"></i> Edit Assurance </a>        
    <a href="/assurances/new"><i class="fa fa-plus"></i> New Assurance</a>
  
</div>

